
#view_over_due{
    position: absolute;
    top: 0px;
    z-index: 100000;
    background-color: white;
    border: 1px solid #cdcdcd;
    box-shadow: 0px 5px 34px 8px #dfdfdf;
}
#view_over_due table{
    width: 100%;
    color: #333;
    font-size: 13px;
}
.item_data{
    border-bottom: 1px solid #cdcdcd;
    line-height: 25px;
}
.item_header{
    line-height: 23px;
    background-color: #cdcdcd;
}
.item_data td, .item_header th{
    padding: 4px 15px;
}
.item_data .digit, .digit{
    text-align: right;
}
.item_data .n-digit, .n-digit{
    text-align: left;
}
.item_data.foot{
    color: red;
    font-weight: bold;
    font-size: 14px;
}


.font-large > span{
    font-size: larger;
    font-weight: 700;
    //font-family: inherit;
}

.tooltip {
  position: relative;
  //display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.o_content {
    .o_overdue_card {
        border-bottom: 1px solid darken($o-control-panel-background-color, 20%);
        border-right: 1px solid darken($o-control-panel-background-color, 20%);
        text-align: center;
        padding: 10px;
        .content_center {
            margin-top: auto;
            margin-bottom: auto;
        }
        div {
            line-height: 1;
        }
    }
    .o_overdue_purple {
        color: $o-enterprise-color;
    }
  .o_overdue_sale_container{
    position: sticky !important;
    top: 0px !important;
    z-index: 5 !important;
    background-color: #f9f9f9;
  }
}