<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_ntp_transfer_content_template" model="ir.actions.act_window">
        <field name="name">Transfer Content Template</field>
        <field name="res_model">ntp.transfer.content.template</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[]</field>
        <field name="context">{}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
              Create new
            </p>
        </field>
    </record>
<!-- 
    <menuitem id="ntp_transfer_content_template_menu"
              action="action_ntp_transfer_content_template"
              name="Transfer Content Template"
              parent="contacts.menu_config_bank_accounts"
              sequence="200"/>
 -->
    <!-- <record id="ntp_payment_support.payment_content" model="ir.ui.menu">
        <field name="name">Payment Content</field>
        <field name="sequence">3</field>
    </record> -->
    <menuitem id="ir_cron_trigger_menu"
              action="action_ntp_transfer_content_template"
              name="Transfer Content Template"
              parent="base.menu_automation"
              sequence="3"/>

  </odoo>
